<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<h1>Sửa Sinh viên</h1>
<form th:object="${sv}" th:action="@{updateSinhvien}" method="post">
    <input type="hidden" name="_method" value="put" />

    <input type="hidden" th:field="*{masv}"/>
    <div>
        <label>Họ Đệm:</label>
        <input type="text" th:field="*{hoDem}"/>
    </div>
    <div>
        <label>Tên:</label>
        <input type="text" th:field="*{ten}" />
    </div>
    <div>
        <label>Giới tính:</label>
        <input type="text" th:field="*{gioiTinh}"/>
    </div>
    <div>
        <label>Ngày sinh:</label>
        <input type="date" th:field="*{ngaySinh}"/>
    </div>
    <div>
        <label>Tỉnh:</label>
        <input type="text" th:field="*{tinh}"/>
    </div>
    <div>
        <label>Mã Lớp:</label>
        <input type="text" th:field="*{maLop}"/>
    </div>
    <input type="submit" value="Save"/>

</form>

</body>
</html>